body {
    background-image: linear-gradient(to bottom right,#144552,#182131,#182131,#312244);
    height: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-size: 10vw;
    font-family: sans-serif;
    color: white;
}

.controls {
    padding: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

.setAlarm {
    background-color: #00b4d8;
}

.setAlarm:hover {
    background: #0099b8;
}

.clearAlarm {
    background-color: #e63946;
}

.clearAlarm:hover {
    background: #c92a37;
}

.toggleFormat {
    background-color: #965bcc;
}

.toggleFormat:hover {
    background-color: #7f3ac0;
}

input {
    border: none;
    border-radius: 5px;
    background-color: #6e6e6e;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

input:hover {
    background: #575757;
}




